@import '../styles.scss';
#chart {
  left: -16px;
}

.graph-rsvp-info {
  font-size: 13px;
  color: $primary-text-color;
  padding: 4px 0; 
  line-height: 18px;

  .change-view {
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      height: 27px;
      
      &:first-of-type {
        border-right: 1px solid $primary-border-color;
      }
    }
  }

  h5 {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
  }

  .start-date,
  .total-rsvp {
    padding-left: 4px; 
    font-weight: bold; 
  }
}

.btn {
  background: transparent;
  border: none;
  padding: 0;
  color:$orange-500;
}
.btn:active,
.btn:focus {
  outline: none; 
}

.selected {
  color: $primary-text-color;
}

.query {
  min-height: 250px;
  background: $grid-background-query;
}

.query,
.trend {
    animation: fade 0.2s linear;
}


@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
