@import '../styles.scss';

.change-view {
    display: flex;
    justify-content: space-between;
    span {
        display: inline-block;
        height: 27px;
        
        &:first-of-type {
            border-right: 1px solid $primary-border-color;
     
        }
    }
} 


.list-user {
    font-size: 13px;
    color: $primary-text-color;
    border-bottom: 1px solid $primary-border-color;
    padding: 4px 0; 
    line-height: 18px;
    animation: fade 0.2s linear;
    
    &:last-of-type {
        border-bottom: none;
    }

    .user-info {
        display: flex;
        align-items: center;
        
        .user-rsvp {
            padding-left:0;
            @media #{$extra-devices} {	
                display: inline-block;
                white-space: nowrap;
                text-overflow:ellipsis;
                overflow: hidden;
                max-width: 120px;
            }

            @media #{$large-devices} {
                max-width: 300px;	  
            }
        }
    }
 
}

.user-rsvp,
.event-rsvp {
    font-weight: bold;
    padding: 0 4px;
    
}

.event-rsvp {
    display: block;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    padding-left:0;
    width:100%;  
}

@supports (-moz-appearance:none) {
    .event-rsvp { 
        max-width: 300px;
        @media #{$extra-devices} {
            max-width: 220px;
        }
        @media #{$large-devices} {
            max-width: 300px;
        }
    } 
}

.user-response {
    background: #fedab4;
    color: $primary-text-color;
    font-weight: bold;
    padding: 2px;
    border-radius: 4px;
    font-size: 11px;
}

.query {
    word-break: break-word;
    font-size: 12px;
    color: $primary-text-color;
    padding: 4px 0; 
    line-height: 18px;
    opacity: 1;
    animation: fade 0.2s linear;
}

.ksql {
    font-size: 12px;
    display: block;
    padding: $padding;
    margin-bottom: 30px;
    height: 100%;
    min-height: 250px;
    background: $grid-background-query;
    line-height: 20px;
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.btn {
    background: transparent;
    border: none;
    padding: 0;
    color:$orange-500;
}

.btn:active,
.btn:focus {
    outline: none; 
}

.selected {
  color: $primary-text-color;
}
