@import '../styles.scss';
$transition-duration: 2s;
$path-length: 157px;

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(92, 92, 92, 0.9);
    height: 100vh;
    z-index: $index-loading-page;
    display:flex;
    align-items: center;
    justify-content: center;
}

svg {
    overflow: visible;
    width: 50px;
    height: 100px;
    
    g {
      animation: slide $transition-duration linear infinite;
      
      &:nth-child(2) {
        animation-delay: $transition-duration / 4;
        
        path {
          animation-delay: $transition-duration / 4;
          stroke-dasharray: 0px $path-length + 1;
          stroke-dashoffset: 1px;
        }
      }
    }
    
    path{
      stroke: $primary-color;
      stroke-width: 16px;
      stroke-linecap: round;
      fill: none;
      stroke-dasharray: 0 $path-length;
      stroke-dashoffset: 0;
      animation: escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
    }
  }
  
  @keyframes slide {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  
  @keyframes escalade {
    0% {
      stroke-dasharray: 0 $path-length;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: $path-length - 1 $path-length;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: $path-length - 1 $path-length;
      stroke-dashoffset: -($path-length - 1);
    }
  }