@import '@/styles/styles.scss';


.back-home {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 8px 14px 8px 0px;
	margin: 8px 0 0 8px;
	color: $primary-color;
	z-index: $index-back-home;
	border-radius: 4px; 
	font-size: 14px;

	&:hover {
		color: $primary-color-hover;
		text-decoration: none;
	} 

	@media #{$medium-devices} {
		font-size: 12px;
	}
}

.develop {
    height: calc(100vh - 65px);
	margin: auto;
}  

